// COLORS
$color-primary: #0386fc;
$gray100: #f8f9fa;
$gray200: #e9ecef;
$gray300: #dee2e6;
$gray400: #ced4da;
$gray500: #adb5bd;
$gray600: #6c757c;
$gray700: #495057;
$gray800: #343a40;
$gray900: #212529;

// SIZES
$xs: 0.4rem;
$sm: 1rem;
$md: 1.6rem;
$lg: 2.4rem;
$xl: 4rem;

// GRID
$grid-gutter: 1%;
$grid-columns: 12;
$grid-max: 1140px;
* {
  box-sizing: border-box;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

p {
  font-family: "Roboto";
  font-size: 1rem;
  line-height: 1 * 1.4rem;
  color: $gray600;
}

.row {
  display: flex;
}

.header {
  max-width: 1140px;
  margin: 0 auto;
  padding: 24px;
  text-align: center;
}

.showcase {
  padding: $lg;
  text-align: center;
  height: 60vh;
  display: flex;
  align-items: center;
  &__description {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.2 * 1.4rem;
  }
}

.heading1 {
  font-size: 3.2rem;
  font-family: "Inter";
  font-weight: 700;
  letter-spacing: -0.14rem;
  line-height: 3.2 * 1.2rem;
  color: $gray900;
}

.heading2 {
  font-size: 1.4rem;
  font-family: "Inter";
  font-weight: 800;
  letter-spacing: -0.04rem;
  line-height: 1.4 * 1.2rem;
  color: $gray900;
}

.overline {
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-size: 1rem;
  color: $color-primary;
}

.services {
  display: flex;
  margin: 4rem 0;
  margin-bottom: 8rem;
  &__item {
    padding: 2rem;
    width: 33.3%;
    transition: all 0.3s ease-in-out;
    border-radius: 0.2rem;
    &:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      padding: 1.4rem 2rem 2.6rem 2rem;
      cursor: pointer;
      svg {
        color: $gray100;
        fill: $gray100 !important;
      }
      .heading2,
      p {
        color: $gray900;
      }
    }
  }
}

.works {
  &__item:first-child {
    margin-top: 8rem;
  }
  &__item {
    padding: 0;
    margin: 2rem;
    max-width: 50%;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
    & .thumbnail {
      background-color: $gray100;
      //   box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
      //   box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.4);
      margin-bottom: 1.6rem;
      border-radius: 0.2rem;
      img {
        border-radius: 0.2rem;
      }
    }
  }
}

@media (max-width: 996px) {
  .showcase {
    height: 80vh;
    &__description {
      font-size: 1.1rem;
    }
  }
  .services {
    margin: 0;

    &__item {
      margin: 0;
      padding: 2rem;
      width: 100%;
    }
    display: block;
    width: 100%;
  }

  .works {
    display: block;
    &__item:first-child {
      margin-top: 0rem;
    }
    &__item {
      padding: 2rem;
      margin: 0;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .heading1 {
    font-size: 2.2rem;
    line-height: 2.2 * 1.2rem;
  }
  .services {
    &__item {
      margin: 0;
    }
  }
  .row {
    display: block;
  }
  .works {
    &__item {
      padding: 2rem;
      max-width: 100%;
    }
  }
}

@media (max-width: 375px) {
}
